<body>
    <!-- NavBar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info justify-content-center">
        <div class="container-fluid">
            <a class="navbar-brand">CRUD Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-link active" href="{% url 'dashboard' %}">Dashboard &nbsp; <i class="fa fa-home"
                            aria-hidden="true"></i></a>
                    <a class="nav-link active" href="{% url 'logout' %}">Logout &nbsp; <i class="fa fa-sign-out"
                            aria-hidden="true"></i></a>
                    {% else %}
                    <a class="nav-link active" href="{% url 'register' %}">Register &nbsp; <i class="fa fa-user-plus"
                            aria-hidden="true"></i></a>
                    <a class="nav-link active" href="{% url 'login' %}">Login &nbsp;<i class="fa fa-key"
                            aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</body>

</html>