{% extends 'crud/base.html' %} {% load crispy_forms_tags %} {% block content %}
<style>
  .form-layout {
    border-radius: 15px;
    width: 400px;
  }
</style>

<body>
  &nbsp; &nbsp;
  <div class="container container-sm bg-secondary shadow-md p-5 form-layout">
    <h3>Update Record</h3>

    <h6>Update your record down below...</h6>

    <hr />
    <br />

    <form action="" method="post">
      {% csrf_token %} {{forms|crispy}}
      <br />
      &nbsp;
      <button type="submit" class="btn btn-primary btn-block p-2">
        Update Record
      </button>
      &nbsp;
      <a href="{% url 'dashboard' %}" class="btn btn-info"
        >Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i
      ></a>
    </form>
  </div>
</body>

{% endblock %}
